<a href="https://colab.research.google.com/github/bka-ship-it/Matplotlib/blob/main/Adult_Income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from pandas.plotting import scatter_matrix

data=pd.read_csv('adult-income.csv')
data.columns=['Age','Sector','Pin','Education','Education Number','Marital Status','Occupation','Relationship','Race','Gender','Capital Gain','Capital Loss','Country','Hours Per Week','Salary']
print(data.describe())
print(data.info())
print(data.isnull().sum())
print(data.isin(['?']).sum(axis=0))

data['Country']=data['Country'].replace('?',np.nan)
data['Sector']=data['Sector'].replace('?',np.nan)
data['Occupation']=data['Occupation'].replace('?',np.nan)

                Age           Pin  Education Number  Capital Gain  \
count  32560.000000  3.256000e+04      32560.000000  32560.000000
mean      38.581634  1.897818e+05         10.080590   1077.615172
std       13.640642  1.055498e+05          2.572709   7385.402999
min       17.000000  1.228500e+04          1.000000      0.000000
25%       28.000000  1.178315e+05          9.000000      0.000000
50%       37.000000  1.783630e+05         10.000000      0.000000
75%       48.000000  2.370545e+05         12.000000      0.000000
max       90.000000  1.484705e+06         16.000000  99999.000000

       Capital Loss       Country
count  32560.000000  32560.000000
mean      87.306511     40.437469
std      402.966116     12.347618
min        0.000000      1.000000
25%        0.000000     40.000000
50%        0.000000     40.000000
75%        0.000000     45.000000
max     4356.000000     99.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               32560 non-null  int64
 1   Sector            32560 non-null  object
 2   Pin               32560 non-null  int64
 3   Education         32560 non-null  object
 4   Education Number  32560 non-null  int64
 5   Marital Status    32560 non-null  object
 6   Occupation        32560 non-null  object
 7   Relationship      32560 non-null  object
 8   Race              32560 non-null  object
 9   Gender            32560 non-null  object
 10  Capital Gain      32560 non-null  int64
 11  Capital Loss      32560 non-null  int64
 12  Country           32560 non-null  int64
 13  Hours Per Week    32560 non-null  object
 14  Salary            32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
Age                 0
Sector              0
Pin                 0
Education           0
Education Number    0
Marital Status      0
Occupation          0
Relationship        0
Race                0
Gender              0
Capital Gain        0
Capital Loss        0
Country             0
Hours Per Week      0
Salary              0
dtype: int64
Age                 0
Sector              0
Pin                 0
Education           0
Education Number    0
Marital Status      0
Occupation          0
Relationship        0
Race                0
Gender              0
Capital Gain        0
Capital Loss        0
Country             0
Hours Per Week      0
Salary              0
dtype: int64